<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi - kontakt</title>
    <%- include("../partials/pais.ejs") %>
</head>
<body>
<div class="container">
    <div class="row pt-1">
        <div class="col-md-5 d-flex">
            <img class="paisLogo" src="assets/klubilogo.png" alt="">
            <div class="paisNimi">
                MATKA KLUBI
            </div>
        </div>
        <div class="col-md-7 pais-menyy">
            <%- include("../partials/menyy.ejs") %>
        </div>

    </div>
    <div class="row">
        <h1>Uudised</h1>
    </div>  
</div>
<script src="matkaklubi.js"></script>
</body>

</html>